---
import '../styles/global.css';
export let title = 'Marcos Muñoz - Desarrollador Web y Portafolio';
export let description = 'Soy Marcos Muñoz, desarrollador web especializado en Astro, React y Node.js. Mira mi portafolio y contáctame para crear la web que tu negocio o proyecto necesite. Desde Santiago de Chile, San Bernardo.';
export let urlWeb = 'https://portafoliomarcosm.netlify.app/';
---

<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="/icono-portafolio2.svg">
  <link rel="canonical" href={urlWeb} />

  <!-- Open Graph / Twitter -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={urlWeb} />
  <meta property="og:image" content={`${urlWeb}/images/portafolioWeb.webp`} />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={`${urlWeb}/images/portafolioWeb.webp`} />

  <!-- Meta tags SEO -->
  <meta name="description" content={description} />
  <meta name="author" content="Marcos Muñoz" />
</head>
<body class="bg-gray-50 text-gray-800 dark:bg-gray-900 dark:text-gray-100 font-sans antialiased">
  <div class="min-h-screen flex flex-col">
    <slot />
    
    <!-- Footer -->
    <footer class="mt-auto py-6 bg-gradient-to-b from-gray-800 to-slate-900 text-white">
      <div class="container mx-auto px-4 text-center">
        <p>© 2025 Marcos Muñoz, bless.</p>
      </div>
    </footer>
  </div>
</body>
</html>
